ul .nav-item .nav-link {
  margin: 5px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #252f5a;
}

ul .nav-item .nav-link.active {
  background: #f9314b;
  color: #fff;
}

.nav {
  padding: 30px 25px;
}

.nav li a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}