.bg-main {
  background: #252f5a;
}
.bg-red {
  background: #f9314b;
}
.bg-transparent {
  background: none;
}
.red-border {
  border: 2px solid #dc3545;
}
.profile {
  margin: auto;
}
.round {
  border-radius: 100%;
  width: 60%;
}

.btn-social {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn-social:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.google {
  background-color: #db4437;
}
.facebook {
  background-color: #3B5998;
}