.breadcrumb-area {
  background: #070b28;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.breadcrumb-area.main {
  padding: 260px 0px 135px;
}

.breadcrumb-area.main .bc-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  max-width: 40%;
}

.breadcrumb-area .title {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 11px;
  text-transform: uppercase;
  color: #fff;
}

.breadcrumb-area .title.extra-padding {
  margin-bottom: 26px;
}

.breadcrumb-area .breadcrumb-list li {
  display: inline-block;
}

.breadcrumb-area .breadcrumb-list li span {
  margin: 0px 7px;
  color: #fff;
}

.breadcrumb-area .breadcrumb-list li a {
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #fff;
}

.breadcrumb-area .breadcrumb-list li a:hover {
  color: #f1f1f1;
}

.breadcrumb-area .breadcrumb-list li a.active {
  color: #f1f1f1;
}